<% unless @cards.empty? %>
  <% @cards.each_with_index do |card,i| %>
    <div id="<%= "card#{i}" %>" >
      <canvas id="<%= "canv#{i}" %>" width="70" height="100" data-card="<%= card %>"></canvas>
    </div>
  <% end %>
<% end %>
