= form_for(@game) do |f|
  .row
    .col-xs-2
    .col-xs-4.text-right
      = f.text_field :name, class: "input-lg", placeholder: "Game Name", required: true, style: "width: 240px;"
    .col-xs-4.text-left
      = f.submit class: "btn btn-lg btn-success", style: "width: 240px;"
  .row
    .col-xs-12
      %h3{style: "margin: 20px;"} Extra Game Options 
      - if I18n.locale == :en_tish
        %p
          %i Quaker Family Friendly Rules
  .row
    .col-xs-12
      = render 'options_table', form: true
