- if @winners.present?
  %h2
    Winners:
    \#{@winners.join(', ')}
- else
  %h3
    Waiting on:
    %br
    #{@waiting_on}
  %h4
    Round of
    = @round
  %h4
    Trump Suit
  %canvas#trump.playing_card

  %br
  %br
  #buttons
    = render "controls"
