<strong><h4>Round</strong>: <%= @round %>/<%= @game.state_data[:total_rounds] %></h4>
<div>
  <h4><strong>Trump</strong></h4>
  <br />
  <canvas id="trump" width="70" height="105" style="border:1px solid #000000;"></canvas>
</div>
<h4><strong>Waiting on</strong>: <%= @waiting_on %></h4>
