.row
  .col-lg-8.col-lg-offset-2
    %h1 How to Play 

    %h2 Setup
    %p 
      Crush is a card game for 3-5 players. 
      Standard card deck, no jokers. 
      The first dealer is determined by each player drawing 1 card, highest card deals first.

    %h4 Rounds of Play (aka: Hands)
    %p
      The game consists of 10 hands. 
      Default gameplay starts the first hand with 10 cards. 
      Each subsequent hand has 1 less card, until the last round which has just 1 card.
      The "Dealer" passes to the next person, clockwise. 
      At the end of the game, the player with the highest points wins.

    %h4 Dealing
    %p 
      %b Player Hands:
      Each player is dealt cards to their hands. 10 cards, or, X cards, as appropriate for the round the game is on.
    %p
      %b Trump Card:
      The top card of the deck is then flipped, which provides the "Trump Suit" for the hand. 
      When playing, trump suit cards beat non-trump suit cards.
    %p
      %b "No Trump" Rule: 
      If an "Ace of Trump" is flipped, the round will be played without a trump suit.
      Trump suit cards will NOT beat non-trump cards.

    %h2 Playing a Hand
    %h4 Tricks
    %p 
      Each "hand" is played as a number of "tricks" equal to the number of cards in your hand. 
      For each "trick" you play one card. 
      The hand is over when all cards have been played.
    %h4 Lead Suit
    %p
      The first person to play a card in a trick, sets the "Lead Suit". 
      Then play proceeds clockwise. 
      If you have a any cards of the "Lead Suit", you must play one of them. 
      If not, you can play any card.
    %h4 Winning a Trick
    %p 
      The highest card played in the "Lead Suit" wins the trick. 
      The winner of the trick gets to play first in the following trick.
      If a "Trump Suit" card is played, then the highest trump card wins, overriding the "Lead Suit". 
    %p
      %i
        AKA: a King of Diamonds will lose to a 2 of trump 

    %h4
      Bidding & Scoring
    %p
      In the simplest sense, each "trick" you take (win), is 1 point. 
      Highest point total wins the game. However, winners aren't concerned with simply taking tricks, but rather "making your bid". 
    %p
      %b Bidding:
      Each player has to make a bid at the start of each hand. 
      The bid is for how many tricks they plan to win. 
      A bid can be "0" up to all the cards in the hand (ex: 10).
      Bids are made starting with the player to the left of the dealer, and the dealer last.
    %p

      %b Making your Bid: 
      This is the real way to win. When you make your bid, you get +10 points in addition to the tricks you took.
      %ul{style: "list-style: none; font-size: 22px;"}
        %li{style: "margin-bottom: 15px;"}
          Bid X tricks, take X tricks, you get X+10 points.
          %br
          %br
          %i EX: bid 3, take 3, you get 13 points. 
        %li{style: "margin-bottom: 15px;"}
          Bid X, take X + 1 tricks, you get X + 1 points
          %br
          %br
          %i EX: bid 3, take 4, you get 4 points.
        %li
          Bid X, take X - 1 tricks, you loose the difference. 
          %br
          %br
          %i EX: bid 3, take 2, you loose 1 point.
    %p
      %b "Someone Must Loose":
      When it is the dealers turn to bid, the dealer must bid so the total bids do NOT equal the total cards.
      If the other players have bid for 8 out of 10 cards in a hand, the dealer can bid 1 or 3, but not 2.
    %h4 Play the first trick
    %p
      After the bidding is complete, the highest bidder (or first to bid it), plays first. 
      Tricks are then played until everyones hand is empty. 
      With the winner of each trick starting the next one.
