.show_body{style: "background-color: black"}

  %p#notice{:style => "text-align:center;"}= notice 

  .row{style: "margin: auto; text-align: center;"}
    .col-xs-12
      = render 'join_game'
      #game-wrapper
        = render "board_info"

  #content
    #successMessage.hidden
      %h2 You did it!
      %button{:onclick => "init()"} Play Again
