// todo - refresh game board
console.log("Rendering updated board");
$('#board-wrapper').html("#{j render 'board_info'}");
$('#bottom').droppable( {
accept: '#cardPile div',
hoverClass: 'hovered',
drop: testDrop
});

- if @waiting_on_index != @indexes[0] # watiing on someone else
  console.log("Waiting on others");
- else # it's your action
  console.log("Waiting on you!");

Games.init();

