.playing_card
  height: 105px
  width: 70px 
  border: 1px solid #000000
  border-radius: 5px
  background: white
  &#top
    position: absolute
    top: 10px
    left: 115px
  &#bottom
    position: absolute
    left: 115px
    bottom: 10px
  &#right
    position: absolute
    top: 100px
    right: 10px
  &#left
    position: absolute
    left: 10px
    top: 100px

.top_card
  position: absolute
  margin-left: auto
  margin-right: auto
  left: 0
  right: 0
  text-align: center

.player_card
  padding: 10px
  border-radius: 5px
  background-color: #969696 
  width: 270px
  text-align: center
  margin: auto

#board
  width: 300px
  height: 300px
  border: 1px solid green
  border-radius: 5px
  margin: 0 auto
  padding: 10px
  background-color: green
  position: relative
