%footer
  .container.text-center
    %p Copyright 2016
  .container.text-center
    %p
      CCPA
      = "-" 
      %i  None of your data is used or sold.
  .container.text-center
    %p
      Contribute on
      %a{href: "https://github.com/bcwik9/crushcard"}
        %i.fa.fa-github.fa-fw
        %span.network-name Github
